[importlinter]
root_package = app
include_external_packages = false

[importlinter:contract:layers]
name = app
type = layers
containers = app
layers =
    main
    routers
    schema | models
    db
exhaustive = true
